# ------------------------------------------------------------
# Linux用に整理済み requirements.txt
# 元ファイルはWindows/condaでpip freezeされたもので、
#   pkg @ file:///C:/miniconda3/conda-bld/...  という
# ローカルビルドパス参照になっていたため、Linuxでは全滅していました。
# file://参照を外し、バージョンが判明しているものはそのまま保持しています。
# バージョン無指定のパッケージはpipが最新の互換版を解決します。
# ------------------------------------------------------------

# --- バージョン指定あり(元のまま) ---
gunicorn
atomicwrites==1.4.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
greenlet==3.2.5
jp-stopword-filter==0.2.2
lxml==6.1.1
python-docx==1.2.0
setuptools==80.9.0
SQLAlchemy==2.0.45
SudachiDict-core==20260428
SudachiPy==0.6.11
wheel==0.45.1

# --- file://参照を除去(通常のPyPIパッケージとして解決) ---
aiodns
aiohappyeyeballs
aiohttp
aiosignal
arrow
astroid
asttokens
asyncssh
attrs
babel
bcrypt
beautifulsoup4
bleach
blinker
brotlicffi
cattrs
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
comm
cryptography
decorator
defusedxml
dill
executing
fastjsonschema
Flask
frozenlist
html5lib
idna
imagesize
importlib_metadata
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
Jinja2
joblib
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
more-itertools
multidict
mypy-extensions
nest-asyncio
numpy
packaging
pandas
pandocfilters
pathspec
pexpect
pickleshare
platformdirs
pluggy
prompt_toolkit
propcache
psutil
ptyprocess
pure_eval
pycares
pycparser
pydocstyle
PyGithub
Pygments
PyJWT
PyNaCl
PySocks
python-dateutil
python-dotenv
PyYAML
pyzmq
referencing
requests
rich
rpds-py
scikit-learn
scipy
six
sortedcontainers
soupsieve
stack_data
threadpoolctl
tinycss2
tomlkit
tornado
traitlets
typing_extensions
tzdata
ujson
urllib3
wcwidth
webencodings
Werkzeug
yarl
zipp

# ------------------------------------------------------------
# 以下はWindows専用パッケージのため削除しました(Linuxではインストール不可):
#   pywin32, pywin32-ctypes, win_inet_pton, winloop,
#   PyQt5, PyQt5_sip, PyQtWebEngine, sip, QtAwesome, QtPy,
#   qstylizer, QDarkStyle, superqt, colorama,
#   mkl-service, mkl_fft, mkl_random
#
# 以下はSpyder/Jupyter/リンター等のIDE付属ツールで、
# アプリの実行には通常不要と思われるため除外しています。
# 必要であれば個別に追加してください:
#   spyder, spyder-kernels, ipykernel, ipython, jupyter_client,
#   jupyter_core, nbclient, nbconvert, nbformat, qtconsole,
#   jedi, parso, rope, pylint, flake8, black, isort, autopep8,
#   yapf, ruff, python-lsp-server 一式, watchdog, Sphinx 一式 など
# ------------------------------------------------------------