<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>〇〇図書館-検索ホーム</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header border-bottom border-2 border-success" style="width: 100%;">
          <a class="navbar-brand" href="{{url_for('user')}}">〇〇図書館</a>
        </div>
      </div>
    </nav>
</header>

<body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>

    <div class="container">
      <div class="display-6 text-center">
        お探しの本はなんですか
      </div>
    </div>



<div class="container">
    <form method = "post" action = "{{url_for('search_result')}}">
        <div class="form-group">
            <div><label for="id">ID:</label></div>
            <input type="text" id="id" name="id" class="form-control">
        </div>
        <div class="form-group">
            <div><label for="name">本の名前:</label></div>
            <input type="text" id="name" name="name" class="form-control">
        </div>
        <div class="form-group">
            <div><label for="author">著者名:</label></div>
            <input type="text" id="author" name="author" class="form-control">
        </div>
        <div class="form-group">
            <div><label for="publisher">出版社:</label></div>
            <input type="text" id="publisher" name="publisher" class="form-control">            
        </div>
        <div class="form-group">
            <div><label for="isbn">ISBN:</label></div>
            <input type="text" id="isbn" name="isbn" class="form-control">
        </div>
        <div class="form-group">
            <a href="{{url_for('search_result')}}"><input type="submit" id="search" value="検索" class="form-control bg-primary text-white"></a>
        </div>
    </form>

</div>


</body>
</html>